*{
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: mediumseagreen;
  height: 90px;
  padding: 10px;
  color: white;
  font-size: 40px;
}

.form{
  font-size: 20px;
}

.card-block{
  background-color: lightgray;
}

.btn{
  color: seagreen;
}
